body{
  background: rgba(236, 156, 169, 0.686);
}

h1{
  text-align: center;
  color: rgba(155, 66, 219, 0.885);
}

h2{
  color: #5f6164;
}

p{
  color: rgba(255, 255, 255, 0.891);
}

button{
  color: #fff;
  background: #5fe3ec;
}

.header {
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
  margin: 40px 20px 0 20px;
  font-size: 0;
  line-height: 45px;
  height: 45px;
}

li{
  display: inline;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo{
  width: 15%;
}

.navbar{
  width: 70%;
  text-align: center;
  /* text-align: left; */
  font-family: sans-serif;
}

.item{
  margin: 0 25px 0 25px;
  color: #025157;
}

.actions{
  width: 15%;
  text-align: right;
  /* text-align: left; */
  font-size: 14px;
}

.actions > *{
  margin-left: 10px;
  margin-bottom: 10px;
}

.actions a{
  color: #67b54b;
}

.actions button{
  color: white;
  background: #67b54b;
  padding: 12px 14px 12px 14px;
  border-radius: 5px;
}
