@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800;900&display=swap');

body{
  /* background: #fffbf7; */
  background: red;
  margin: 0;
}

.fixed-header{
  position: fixed;
  background-color: #fffbf7;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

.header {
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
  margin: 40px 20px 0 20px;
  font-size: 0;
  line-height: 45px;
  height: 45px;
}

li{
  display: inline;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

/* .navbar{
  margin-top: 25px;
  width: 70%;
  text-align: center;
  text-align: left; 
  font-family: sans-serif;
}

.navbar > ul > li{
  margin: 0 25px 0 25px;
  color: #025157;
} */

.actions{
  width: 15%;
  text-align: right;
  /* text-align: left; */
  font-size: 14px;
}

.actions > *{
  margin-left: 10px;
  margin-bottom: 10px;
}

.actions a{
  color: #67b54b;
}

.actions button{
  color: white;
  background: #67b54b;
  padding: 12px 14px 12px 14px;
  border-radius: 5px;
}

h1{
  font-family: 'Alegreya', serif;
  font-size: 60px;
  text-align: center;
  color:#025157;
  font-weight: 900;
}

h5{
  color: #46484c;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

input{
  font-family: inherit;
  font-size: 15px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 20px;
  width: 130px;
  max-width: 250px;
}

button{
  font-family: inherit;
  font-size: 15px;
  background: #025157;
  color: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 130px;
  max-width: 250px;
  padding: 11px 20px;
  overflow: visible;
  margin-left: -10px;
}

main{
  margin-top: 150px;
  text-align: center;
}

main > p{
  color: #8b8b8bcc;
  margin-top: 15px;
}

.imagen-capterra{
  text-align: center;
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.video{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.video img{
  width: 150px;
  margin-top: 10px;
}

.publicidad > h3{
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publicidad > p{
  font-size: 16px;
  color:#343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publicidad > form{
  display: flex;
}

.publicidad > form p {
  color: #025157;
  margin-right: 18px;
}

.post{
  background-color: #a1d683;
  padding: 50px 0;
}

.contenido{
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.post-uno h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.post-uno p{
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

.post-uno button{
    display: block;
    background-color: #025157;
    color: #fff;
    border-radius: 5px;
    padding: 6px 20px;
    width: 160px;
    height: 50px;
}

.post-uno img{
  width: 500px;
  margin-top: 20px;
}

.stories{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 700px;
}

.perfil img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.everly{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f9da73;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 280px;
  margin-top: -65px;
}

.everly img{
  width: 75px;
  height: auto;
}

.content-stories{
  padding: 20px;
}

.content-stories h3{
  font-size: 20px;
  color: #025157;
  margin-bottom: 20px;
}

.content-stories h4{
  color: #025157;
}

.content-stories p{
  font-size: 20px;
  margin-bottom: 10px;
}

.content-stories button{
  width: 100%;
}

.card{
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.card img{
  height: 25px;
}

.card p{
  color: #8b8b8bcc;
  font-size: 16px;
}

.post-footer button{
    background-color: #025157;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 6px 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    width: 200px;
    height: 40px;
}

  /*grid-template: repeat(2, 1fr) / repeat(2, 50%);*/
  /* grid-template-columns: 100px 300px; */
  /* grid-template-columns: repeat(2, 300px); */
  /* grid-template-columns: 500px 1fr; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px); */

  .tarjetas{
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .tarjeta{
    margin: 0 30px 30px 0;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .tarjeta-texto{
    padding-left: 50px; /*Da 50px a la izquierda de tarjeta-texto*/
  }
  
  .tarjeta-texto > h3{
    /* font-size: 24px; */
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
    /* line-height: 29px; */
    color: #343434;
  }
  
  .tarjeta-texto > p{
    color: #7e7e7e;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;

  }
  
  .tarjeta-texto > figure{
    margin-left: 0;
    margin-top: -10px;
    margin-bottom: -15px;
  }
  
  .tarjeta-texto a{
    color: #67b54b;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
  }
  
  .tarjeta-texto > figure > img{
    width: 50px;
  }
  
  .tarjeta-imagen{
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .tarjeta-imagen > figure > img{
    margin-left: -40px;
    margin-top: -16px;
    height: 250px;
  }

  .postwork-cuatro{
    background-color: #fffbf7;
    text-align: center;
    padding: 5% 10%;
  }

  .contenido-pwc h2{
    font-family: "Alegreya", serif;
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 8px;
  }

  .contenido-pwc p{
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .btn-pwc{
    height: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .postwork-cuatro{
    background-color: #fffbf7;
    margin-bottom: 200px;
  }

  .postwork-cuatro .cartas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    width: 100%;
    height: 350px;
    margin-top: 20px;
  }

  .carta{
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    text-align: left;
    height: 100%;
    width: 100%;
    position: relative;
    
  }

  .carta-img{
    height: 350px;
  }

  .carta-img .icono{
    width: 21px;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .carta-img .imagen{
    width: 100%;
    height: 100%;
  }

  .carta-contenido h3{
    text-align: center;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 900;
    font-size: 30px;
  }

  .carta-contenido p{
    text-align: center;
    color: #46484c;
    font-weight: 400;
    font-size:15px;
  }

  .carta-contenido a{
    color: #67b54b;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }





/* MEDIA QUERY */
  
  /* @media (max-width: 575px) {
    body{
      background-color: yellow;
    }

  } */

    /** dispositivos móviles en vista viewport (vertical) */
    @media (max-width: 575px) {
      .navbar, .actions{
        display: none;
      }
      main h1{
        margin-top: -70px;
        font-size: 60px;
      }
      .imagen-capterra img{
        width: 100%;
      }
      .reto4-sesion5{
        flex-direction: column;
      }
      .reto4-sesion5 input{
        width: 45%;
        border-radius: 5px;
      }
      .reto4-sesion5 button{
        border-radius: 5px;
      }
      .promo{
        flex-direction: column;
        max-width: 90%;
      }
      .video > video{
        width: 100%;
      }
      .publicidad > h3{
        font-size: 21px;
      }
      .publicidad > p{
        margin-top: -30px;
      }
      .tarjetas{
        grid-template: repeat(4, 1fr) / 1fr;
        height: 1000px;
        margin-right: 20px;
      }
      .tarjeta-texto figure img{
        width: 35px;
      }
      .tarjeta-imagen{
        display: none;
      }
    }

  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
    
  }

  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    
  }

  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }

  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
    
  }
